*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #9BC1BC;
}


header{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
}

#header-title{
    margin-right: 60%;
}


#header-title > h3 {
    text-align: center;
}

#line{
    background-color: black;
    width: 10px;
}

#header-imgs{
    display: flex;
    flex-direction: row;
    width: 6%;
} 

#header-imgs > img {
    width: 100%;
    border-radius: 50%;
    margin-right: 20%;
}


/* first page */
 
.first-page > img{
    display: block;
    margin: auto;
    left: 50%;
    right: 50%;
    width: 60%;
    margin-top: -100px;
}