@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #9BC1BC;
}

h1, p{
    font-family: 'Roboto', sans-serif;
}

svg{
    position: relative;
    z-index: -5;
    top: -700px;
    right: 200px;
}


header{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
}


hr{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header-title{
    margin-right: 60%;
}


#header-title > h3 {
    text-align: center;
}

#line{
    background-color: black;
    width: 10px;
}

#header-imgs{
    display: flex;
    flex-direction: row;
    width: 6%;
} 

#header-imgs > img {
    width: 100%;
    border-radius: 50%;
    margin-right: 20%;
}


/* first page */
 
.first-page > img{
    display: block;
    margin: auto;
    left: 50%;
    right: 50%;
    width: 60%;
    margin-top: -1100px;
    z-index: 2;
}